table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 1px solid grey;
    height: 50px;
    text-align: center;
    width: 33%;
}
.w40p {
    width: 40%;
}
.w60p {
    width: 60%;
}
.w28p {
    width: 28%;
}
.w72p {
    width: 72%;
}
.w75p {
    width: 75%;
}
.w80p {
    width: 80%;
}
.w90p {
    width: 90%;
}
.h200 {
    height: 200px;
}
